<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hearth Disease</title>

    <link rel="stylesheet" href="https://gitcdn.link/repo/angular/bower-material/master/angular-material.css">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://gitcdn.link/repo/angular/bower-material/master/angular-material.js"></script>

    <!-- Plotly Library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Angular Controller -->
    <script src="/static/scripts/HearthDiseaseController.js"></script>

    <!-- Google AdSense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2364670357776688",
        enable_page_level_ads: true
      });
    </script>

</head>

<style>
    .marginTop{
        margin-top: 3vh;
    }
    .modebar{
      display: none !important;
    }
</style>

<body>
    <div ng-app="hearthDisease" ng-controller="HearthDiseaseController as ctrl">
        <md-content md-theme="docs-dark" style="height: 100vh">
            <md-toolbar class="md-primary">
                <h1 class="md-toolbar-tools">
                    <span><b>Hearth Angiographic Disease</b></span>

                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="Hearth" ng-disable="true">
                      <md-icon md-svg-icon="/static/img/icons/ic_favorite_white_24px.svg"></md-icon>
                    </md-button>
                </h1>
            </md-toolbar>

            <div layout="row" style="margin-top: 3vw">
                <div layout="column" style="margin-left: 22vw">
                <form layout="column">
                    <label>Sex</label>
                    <md-select ng-model="ctrl.sex" required>
                      <md-option value="1">Male</md-option>
                      <md-option value="0">Female</md-option>
                    </md-select>

                    <label>Age</label>
                    <input required type="number" step="any" name="age" ng-model="ctrl.age" class="md-primary"/>

                    <md-checkbox ng-model="ctrl.htn" aria-label="Hypertension" class="md-primary" style="margin-top:5vh">
                        Hypertension
                    </md-checkbox>

                    <md-checkbox ng-model="ctrl.fbs" aria-label="Fasting Blood Sugar" class="md-primary">
                        Fasting Blood Sugar > 120 mg/dl
                    </md-checkbox>

                    <md-checkbox ng-model="ctrl.famhist" aria-label="Family History" class="md-primary">
                        Family History of Coronary Artery Disease
                    </md-checkbox>

                    <label class="marginTop">Cholesterol</label>
                    <input required type="number" step="any" name="chol" ng-model="ctrl.chol"/>

                    <label class="marginTop">Years as smoker</label>
                    <input required type="number" step="any" name="years" ng-model="ctrl.years"/>

                    <label class="marginTop">Average number of Cigarettes per day</label>
                    <input required type="number" step="any" name="cigs" ng-model="ctrl.cigs"/>

                    <md-button type="submit" class="md-raised md-primary marginTop" ng-click="ctrl.getProbabilities()">
                        Submit
                        <md-icon md-svg-icon="/static/img/icons/ic_favorite_white_24px.svg"></md-icon>
                    </md-button>
                </form>
                </div>

                <div layout="column" style="margin-left: 10vw">
                    <md-card style="width: 100%" ng-show="prob">
                        <center>
                            <md-card-title>
                              <md-card-title-text>
                                <span class="md-headline">Probability of Angiographic Disease</span>
                              </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <h1>{{ prob | number : 2 }}%</h1>
                            </md-card-content>
                        </center>
                    </md-card>

                    <div id="agesPlot" style="width:600px;height:400px;" class="md-primary"></div>
                </div>
            </div>
        </md-content>
    </div>
</body>
</html>